{% extends "main.html" %}
{% block content %}
<a href="/lists/">Back</a>
<h2>Lista - {{ list.title }}</h2>

<form method='post' action='update_checks/'>
{% csrf_token %}
<table>
    <thead>
       <tr>
           <td>Checked</td>
           <td>Tytuł</td>
           <td>Score</td>
       </tr>
    </thead>
{% for item in items %}
    <tr>
        <td>
            <input type="hidden" name="item_{{ item.id }}" value=0 />
            <input type="checkbox"
            onchange = 'this.form.submit()'
            {% if item.checked %} checked="checked" {% endif %}
            name = "item_{{ item.id }}"
            />
        </td>
        <td>{{ item.title }}</td>
        <td>{{ item.score }}</td>
        {% if item.can_vote %}
            <td><a href='vote/{{ item.id }}/'>Vote!</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br/>
<a href='/lists/{{ list.id }}/add/'>Dodaj item</a><br />
<input type="submit" value="Refresh Checks"/>
{% endblock %}
